<div class="input-append">
    <input type="text"  name="QR Code Scannen" class="input-xxlarge" data-bind="value: newUrl">
    <button class="btn btn-primary" data-bind="click: goToUrl">Go</button>
</div>

